<div class="container">

  <form [formGroup]="autoForm">

    <div class="form-group">
      <label>Modelo</label>
      <input class="form-control" type="text" formControlName="modelo">
      <br>
      <div class="alert alert-danger" *ngIf="autoForm.controls['modelo'].invalid">
        <span *ngIf="autoForm.controls['modelo'].errors.required">Campo requerido</span>
        <span *ngIf="autoForm.controls['modelo'].errors.pattern">Patron incorrecto</span>
      </div>
    </div>

    <div class="form-group">
      <label>Año</label>
      <input class="form-control" type="text" formControlName="anio">
    </div>

    <div formGroupName="marca">
      <div class="form-group">
        <label>Marca</label>
        <input class="form-control" type="text" formControlName="nombre">
      </div>
    </div>

  </form>

  <p>{{autoForm.value | json}}</p>

</div>